In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('../../../../data/raw/nb_data/3. merged_data/gurgaon_properties.csv')

In [4]:
df.sample(2)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2463,2 BHK Flat in Sector 77 Gurgaon,flat,umang winter hills,0.75,5588.0,1342.0,Super Built up area 1342(124.68 sq.m.)Built Up...,2,2,2,store room,"876, Sector 77 Gurgaon, Gurgaon, Haryana",8.0,South,1 to 5 Year Old,"['Entertainland Mall', 'Delhi Jaipur Expresswa...",2 bhk flat available for sell in umang winter ...,"['2 Wardrobe', '1 Water Purifier', '4 Fan', '1...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction5 out of..."
1884,6 Bedroom House for sale in Sector 14 Gurgaon,house,independent,3.50,18088.0,1935.0,Plot area 215(179.77 sq.m.)Built Up area: 214 ...,6,4,2,others,"Sector 14, Sector 14 Gurgaon, Gurgaon, Haryana",2.0,West,10+ Year Old,"['Sheetla Mata Mandir', 'Hsbc bank ATM', 'Hdfc...",House for sale plot size 215 sqyard park facin...,"['6 Wardrobe', '10 Fan', '1 Exhaust Fan', '4 G...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [5]:
df.shape

(3961, 20)

In [6]:
df.duplicated().sum()

0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           2784 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [8]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1177
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
dtype: int64

In [9]:
df.head(2)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,1.05,7000.0,1500.0,Super Built up area 1735(161.19 sq.m.)Carpet a...,3,3,3,store room,"Sector 83 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Located in the popular residential address of ...,NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M...","['Green Area5 out of 5', 'Construction4.5 out ..."
1,3 BHK Flat in Sector 68 Gurgaon,flat,m3m the marina,1.45,9615.0,1508.0,Super Built up area 1508(140.1 sq.m.),3,2,3+,not available,"Sector 68 Gurgaon, Gurgaon, Haryana",9.0,NaN,0 to 1 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...",We are the proud owners of this 3 bhk apartmen...,[],NaN,"['Green Area4 out of 5', 'Construction4 out of..."

In [10]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [11]:
df.head(2)

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,Sector 83,1.05,7000.0,1500.0,Super Built up area 1735(161.19 sq.m.)Carpet a...,3,3,3,store room,"Sector 83 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Located in the popular residential address of ...,NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M...","['Green Area5 out of 5', 'Construction4.5 out ..."
1,3 BHK Flat in Sector 68 Gurgaon,flat,m3m the marina,Sector 68,1.45,9615.0,1508.0,Super Built up area 1508(140.1 sq.m.),3,2,3+,not available,"Sector 68 Gurgaon, Gurgaon, Haryana",9.0,NaN,0 to 1 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...",We are the proud owners of this 3 bhk apartmen...,[],NaN,"['Green Area4 out of 5', 'Construction4 out of..."

In [12]:
df['sector'] = df['sector'].str.lower()

In [13]:
df.head(2)

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,sector 83,1.05,7000.0,1500.0,Super Built up area 1735(161.19 sq.m.)Carpet a...,3,3,3,store room,"Sector 83 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Located in the popular residential address of ...,NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M...","['Green Area5 out of 5', 'Construction4.5 out ..."
1,3 BHK Flat in Sector 68 Gurgaon,flat,m3m the marina,sector 68,1.45,9615.0,1508.0,Super Built up area 1508(140.1 sq.m.),3,2,3+,not available,"Sector 68 Gurgaon, Gurgaon, Haryana",9.0,NaN,0 to 1 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...",We are the proud owners of this 3 bhk apartmen...,[],NaN,"['Green Area4 out of 5', 'Construction4 out of..."

In [14]:
df['sector'].value_counts()

sector
sohna                                                        163
sector 102                                                   113
sector 85                                                    110
sector 92                                                    104
sector 69                                                     94
sector 65                                                     90
sector 90                                                     90
sector 81                                                     90
sector 109                                                    88
sector 79                                                     80
sector 83                                                     69
sector 37d                                                    68
sector 86                                                     67
sector 104                                                    66
sector 107                                                    60
sector 108                                                    59
sector 95                                                     57
sector 56                                                     57
sector 89                                                     56
sector 48                                                     56
sector 70a                                                    54
sector 70                                                     53
nirvana country                                               53
sector 37c                                                    53
sector 84                                                     51
sector-33 sohna                                               51
palam vihar                                                   50
sector 67                                                     48
sector 66                                                     46
sector 103                                                    45
dlf phase 2                                                   43
sector 113                                                    43
dlf phase 1                                                   43
sector 61                                                     42
sector 82                                                     42
sector 106                                                    38
sector 49                                                     36
sector 99a                                                    32
sushant lok phase 1                                           31
sector 68                                                     30
sector 77                                                     29
sector 72                                                     29
laxman vihar                                                  27
sector 71                                                     27
sector 54                                                     27
dlf phase 4                                                   26
sector 112                                                    24
sector 33                                                     23
sector 88a                                                    23
sector 111                                                    22
sector 67a                                                    22
dlf phase 3                                                   22
sector 22                                                     20
sector 82a                                                    20
sector 78                                                     19
sector 74                                                     18
sector 63a                                                    18
sector 91                                                     17
sector 62                                                     17
sector 99                                                     16
sector 110                                                    16
sushant lok phase 3                                           16
sector 14                                                     15
sector 60                                                     15
sector 63                                                     15
rajendra park                                                 14
sector 52                                                     14
sector 53                                                     14
gwal pahari                                                   14
sector 1 imt manesar                                          14
dlf phase 5                                                   14
sector 76                                                     14
sector 3                                                      14
laxman vihar phase 2                                          13
sector 36a                                                    13
sector 46                                                     13
sector 31                                                     12
uppals southend                                               12
sector 93                                                     12
sohna road                                                    12
sector 38                                                     12
sector 50                                                     12
sector 39                                                     12
ashok vihar phase 3 extension                                 11
sector 9a                                                     11
sector 47                                                     11
sector 1a imt manesar                                         10
sector 7                                                      10
sector 55                                                      9
ashok vihar phase 2                                            9
sector 95a                                                     9
sector 4                                                       9
south city 1                                                   9
sector 59                                                      8
dwarka expressway                                              8
sector 57                                                      8
c block sushant lok phase 1                                    8
sector 89 a                                                    8
sector 10a                                                     8
mehrauli  road                                                 8
sector 40                                                      8
palam vihar extension                                          8
malibu town                                                    8
sector 43                                                      8
surat nagar 1                                                  7
sector 11                                                      7
sector 51                                                      7
sector 58                                                      7
new colony                                                     7
mianwali colony                                                7
sector 36 sohna                                                7
sector 26                                                      7
ashok vihar                                                    6
rajiv nagar                                                    6
sector 1                                                       6
jacobpura                                                      6
jyoti park                                                     6
sector 5                                                       6
sector 105                                                     5
ansal plaza                                                    5
manesar                                                        5
sector 23a                                                     5
dayanand colony                                                5
arjun nagar                                                    5
greenwood city                                                 5
sector 9                                                       5
chakkarpur                                                     5
sushant lok phase 2                                            5
saraswati vihar                                                5
subhash nagar                                                  5
sector 2                                                       5
sector 30                                                      5
sector 28                                                      5
new palam vihar                                                5
sector 80                                                      5
madanpuri                                                      4
suncity                                                        4
krishna colony                                                 4
sector 45                                                      4
surya vihar                                                    4
sector 36                                                      4
imt manesar                                                    4
garhi harsaru                                                  4
adarsh nagar                                                   4
new                                                            4
devilal colony                                                 4
shivpuri                                                       4
vishnu garden                                                  4
sector 6                                                       4
bhim nagar                                                     4
sector 12a                                                     4
valley view estate                                             4
baldev nagar                                                   4
bhondsi                                                        4
shivaji nagar                                                  4
sector 3a                                                      4
ravi nagar                                                     4
dharam colony                                                  4
sector 17                                                      4
sector 12                                                      4
sector 8                                                       3
mg road                                                        3
sector 15                                                      3
b block sushant lok phase 1                                    3
sector 17b                                                     3
sector 23                                                      3
sector 88b                                                     3
a block sushant lok phase 1                                    3
sector 73                                                      3
shakti nagar                                                   3
sector 17a                                                     3
prem nagar                                                     3
sector 27                                                      3
maruti kunj                                                    3
gandhi nagar                                                   3
sector 110 a                                                   3
patel nagar                                                    3
laxmi garden                                                   3
sector 41                                                      2
new palam vihar phase 2                                        2
faridabad road                                                 2
new basti                                                      2
iffco chowk                                                    2
mohan nagar                                                    2
block a surya vihar                                            2
sushant lok                                                    2
new palam vihar phase 1                                        2
manohar nagar                                                  2
farukhnagar                                                    2
sector-2 sohna                                                 2
sheetla colony                                                 2
shankar vihar                                                  2
rajiv chowk                                                    2
daulatabad                                                     2
sector 21                                                      2
sector 15 part 2                                               2
west rajiv nagar                                               2
acharya puri                                                   2
sector 32                                                      2
sector 15 part 1                                               2
rosewood                                                       2
golf course road                                               2
golf course ext road                                           2
bissar                                                         2
mayfield garden                                                2
shanti nagar                                                   2
nars                                                           2
samaspur                                                       2
lajpat nagar                                                   2
surat nagar phase 2                                            2
bhawani enclave                                                2
surat nagar                                                    2
sector-11 sohna                                                2
sector 24                                                      2
ambience island                                                2
hira nagar                                                     2
pratap nagar                                                   2
sohna  road                                                    2
sispal vihar                                                   2
, delhi ncr                                                    2
near euro                                                      1
new colony, sector 7                                           1
sector 5 chowk                                                 1
godrej aria , sector 79 ,                                      1
udyog vihar phase 1                                            1
sector 21a faridabad                                           1
laxman vihar, railway road,                                    1
laxmna vihar, phase 2                                          1
bptp                                                           1
shivji park colony                                             1
mahavir pura                                                   1
kanahi                                                         1
anand garden, sector-105                                       1
south city                                                     1
sector 9b                                                      1
huda saraswati vihar                                           1
v block dlf phase 3                                            1
urban estate, sector 5                                         1
civil l                                                        1
dhankot                                                        1
rajiv colony                                                   1
bhimgarh kheri phase 3                                         1
begampur khatola                                               1
sector 13                                                      1
saraswati enclave                                              1
jat colony,fazilpur/taj nagar road                             1
near khandsa road                                              1
saroop garden rajendra park                                    1
ashok vihar phase 3                                            1
old delhi road, opp sector-14                                  1
mahalaxmi garden, rajendra place                               1
devi lal colony gali no 12 gurgaon nr omkar public school      1
kheri                                                          1
sultanpur                                                      1
g block dlf city phase 1                                       1
near nand hospital                                             1
lucknow                                                        1
sector 42                                                      1
alipur                                                         1
cyber city                                                     1
ravi nager basai road                                          1
pataudi road                                                   1
jacobpura near sadar bazar                                     1
sector 4 urban estate                                          1
park view                                                      1
sector 37b                                                     1
gopal nagar, garhi ghasita, sonipat                            1
hno 13 sagar enclave sura                                      1
nirvana country pocket h                                       1
sector 17c                                                     1
carterpuri village                                             1
block g sector-57                                              1
bhora kalan                                                    1
sadar bazar                                                    1
vir nagar                                                      1
b1 block sector 57                                             1
sector 37a                                                     1
hsiidc plot sector 1 imt manesar                               1
damdma                                                         1
tekchand nagar                                                 1
part 3 sector 5                                                1
sector-35 sohna                                                1
garauli kalan                                                  1
khandsa                                                        1
near pataudi chowk                                             1
sai kunj                                                       1
ansal's palam vihar                                            1
naharpur rupa                                                  1
heritage city                                                  1
block h ashok vihar phase iii extension                        1
rattan garden                                                  1
ashok vihar phase i                                            1
sec 3 bhim vihar part 1 bhimgher kheri                         1
ats marigold                                                   1
sector-5 sohna                                                 1
near sector 1 market                                           1
sector-5 sheetla colony                                        1
new jyoti park                                                 1
sector-7 hous                                                  1
ram nagar                                                      1
om nagar                                                       1
Name: count, dtype: int64

In [15]:
replacement = {'dharam colony':'sector 12','krishna colony':'sector 7','suncity':'sector 54','prem nagar':'sector 13','mg road':'sector 28','gandhi nagar':'sector 28','laxmi garden':'sector 11','shakti nagar':'sector 11','baldev nagar':'sector 7','shivpuri':'sector 7','garhi harsaru':'sector 17','imt manesar':'manesar','adarsh nagar':'sector 12','shivaji nagar':'sector 11','bhim nagar':'sector 6','madanpuri':'sector 7','saraswati vihar':'sector 28','arjun nagar':'sector 8','ravi nagar':'sector 9','vishnu garden':'sector 105','bhondsi':'sector 11','surya vihar':'sector 21','devilal colony':'sector 9','valley view estate':'gwal pahari','mehrauli  road':'sector 14','jyoti park':'sector 7','ansal plaza':'sector 23','dayanand colony':'sector 6','sushant lok phase 2':'sector 55','chakkarpur':'sector 28','greenwood city':'sector 45','subhash nagar':'sector 12','sohna road road':'sohna road','malibu town':'sector 47','surat nagar 1':'sector 104','new colony':'sector 7','mianwali colony':'sector 12','jacobpura':'sector 12','rajiv nagar':'sector 13','ashok vihar':'sector 3','dlf phase 1':'sector 26','nirvana country':'sector 50','palam vihar':'sector 2','dlf phase 2':'sector 25','sushant lok phase 1':'sector 43','laxman vihar':'sector 4','dlf phase 4':'sector 28','dlf phase 3':'sector 24','sushant lok phase 3':'sector 57','dlf phase 5':'sector 43','rajendra park':'sector 105','uppals southend':'sector 49','sohna':'sohna road','ashok vihar phase 3 extension':'sector 5','south city 1':'sector 41','ashok vihar phase 2':'sector 5','sector 95a':'sector 95','sector 23a':'sector 23','sector 12a':'sector 12','sector 3a':'sector 3','sector 110 a':'sector 110','patel nagar':'sector 15','a block sector 43':'sector 43','maruti kunj':'sector 12','b block sector 43':'sector 43','sector-33 sohna road':'sector 33','sector 1 manesar':'manesar','sector 4 phase 2':'sector 4','sector 1a manesar':'manesar','c block sector 43':'sector 43','sector 89 a':'sector 89','sector 2 extension':'sector 2','sector 36 sohna road':'sector 36', 'sector 3 phase 2': 'sector 3', 'sector 3 phase 3 extension': 'sector 3', 'sohna road road': 'sohna road'}

In [16]:
# Apply the replacements
for old_value, new_value in replacement.items():
    df['sector'] = df['sector'].str.replace(old_value, new_value)

In [17]:
df.shape

(3961, 21)

In [18]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [19]:
df.shape

(3803, 21)

In [20]:
df['sector'].value_counts()

sector
sohna road           163
sector 102           113
sector 85            110
sector 92            104
sector 69             94
sector 81             90
sector 90             90
sector 65             90
sector 109            88
sector 79             80
sector 33             74
sector 104            73
sector 83             69
sector 37d            68
sector 86             67
sector 43             67
sector 95             66
sector 50             65
sector 89             64
sector 2              63
sector 107            60
sector 108            59
sector 56             57
sector 48             56
sector 70a            54
sector 70             53
sector 37c            53
sector 84             51
sector 26             50
sector 4              49
sector 49             48
sector 67             48
sector 28             47
sector 66             46
sector 103            45
sector 3              44
sector 113            43
sector 25             43
sector 82             42
sector 61             42
sector 7              39
sector 106            38
sector 12             37
manesar               33
sector 99a            32
sector 54             31
sector 68             30
sector 77             29
sector 72             29
sector 71             27
sector 24             24
sector 57             24
sector 112            24
sector 105            23
sector 14             23
sector 88a            23
sector 111            22
sector 67a            22
sector 11             21
sector 22             20
sector 82a            20
sector 110            19
sector 47             19
sector 78             19
sector 63a            18
gwal pahari           18
sector 74             18
sector 91             17
sector 62             17
sector 99             16
sector 60             15
sector 63             15
sector 52             14
sector 53             14
sector 55             14
sector 76             14
sector 9              13
sector 36a            13
sector 6              13
sector 23             13
sector 46             13
sector 31             12
sector 38             12
sector 93             12
sohna road road       12
sector 39             12
sector 9a             11
sector 41             11
sector 36             11
sector 13             10
sector 45              9
sector 17              8
sector 10a             8
sector 40              8
sector 59              8
sector 8               8
dwarka expressway      8
sector 58              7
sector 51              7
sector 1               6
sector 5               6
sector 21              6
sector 15              6
sector 80              5
new sector 2           5
sector 30              5
new                    4
sector 27              3
sector 17b             3
sector 17a             3
sector 88b             3
sector 73              3
Name: count, dtype: int64

In [21]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
775,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
786,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
2198,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
3218,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN

In [22]:
indices = df[df['sector'] == 'new'].index

In [23]:
def update_new_sector(row: pd.Series) -> pd.Series:
    if row['sector'] == 'new':
        if row['society'] == "takshila heights sector 37 c":
            row['sector'] = 'sector 37'
        elif row['society'] == 'dlf 76':
            row['sector'] = 'sector 76'
        elif row['society'] == 'green court':
            row['sector'] = 'sector 90'
        elif row['society'] == 'sare homes':
            row['sector'] = 'sector 92'
    else:
        pass
    return row

df = df.apply(update_new_sector, axis=1)

In [24]:
df.head(2)

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,sector 83,1.05,7000.0,1500.0,Super Built up area 1735(161.19 sq.m.)Carpet a...,3,3,3,store room,"Sector 83 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Located in the popular residential address of ...,NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M...","['Green Area5 out of 5', 'Construction4.5 out ..."
1,3 BHK Flat in Sector 68 Gurgaon,flat,m3m the marina,sector 68,1.45,9615.0,1508.0,Super Built up area 1508(140.1 sq.m.),3,2,3+,not available,"Sector 68 Gurgaon, Gurgaon, Haryana",9.0,NaN,0 to 1 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...",We are the proud owners of this 3 bhk apartmen...,[],NaN,"['Green Area4 out of 5', 'Construction4 out of..."

In [25]:
# Using iloc to view these indices
selected_rows = df.iloc[[df.index.get_loc(i) for i in indices]]

selected_rows

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
775,2 BHK Flat in New Gurgaon,flat,green court,sector 90,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
786,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,sector 37,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
2198,4 BHK Flat in New Gurgaon,flat,dlf 76,sector 76,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
3218,4 BHK Flat in New Gurgaon,flat,sare homes,sector 92,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN

In [26]:
df.reset_index(drop=True, inplace=True)

In [27]:
df.shape

(3803, 21)

In [28]:
df[df['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
297,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2,2,1,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
954,3 Bedroom House for sale in New Palam Vihar,house,independent,new sector 2,1.00,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,2,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
2633,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2,1,1,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."
2692,2 Bedroom House for sale in New Palam Vihar,house,my home,new sector 2,0.34,12592.0,270.0,Plot area 270(25.08 sq.m.),2,2,2,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
2703,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2,2,2,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."

In [29]:
df['sector'] = df['sector'].str.replace('new sector 2', 'sector 110')

In [30]:
df.iloc[2703,:]

property_name                          2 BHK Flat in New Palam Vihar
property_type                                                   flat
society                                          ompee k s residency
sector                                                    sector 110
price                                                            1.6
price_per_sqft                                               26936.0
area                                                           594.0
areaWithType                           Carpet area: 66 (55.18 sq.m.)
bedRoom                                                            2
bathroom                                                           2
balcony                                                            2
additionalRoom                                         not available
address                            New Palam Vihar, Gurgaon, Haryana
floorNum                                                         1.0
facing                                                           NaN
agePossession                                        1 to 5 Year Old
nearbyLocations    ['Palam Vihar Vyapar kendra', 'Palam triangle'...
description        We are the proud owners of this 2 bhk apartmen...
furnishDetails                                                   NaN
features                                                         NaN
rating             ['Environment4 out of 5', 'Safety4 out of 5', ...
Name: 2703, dtype: object

In [31]:
df.shape

(3803, 21)

In [32]:
df.duplicated().sum()

0

In [33]:
df.head(2)

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,sector 83,1.05,7000.0,1500.0,Super Built up area 1735(161.19 sq.m.)Carpet a...,3,3,3,store room,"Sector 83 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Located in the popular residential address of ...,NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M...","['Green Area5 out of 5', 'Construction4.5 out ..."
1,3 BHK Flat in Sector 68 Gurgaon,flat,m3m the marina,sector 68,1.45,9615.0,1508.0,Super Built up area 1508(140.1 sq.m.),3,2,3+,not available,"Sector 68 Gurgaon, Gurgaon, Haryana",9.0,NaN,0 to 1 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...",We are the proud owners of this 3 bhk apartmen...,[],NaN,"['Green Area4 out of 5', 'Construction4 out of..."

In [34]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [35]:
df.sample(2)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
2666,flat,shyam apartment,sector 3,0.26,3714.0,700.0,Super Built up area 700(65.03 sq.m.)Carpet are...,2,1,2,not available,2.0,NaN,1 to 5 Year Old,"['Icici bank ATM', 'Axis bank ATM', 'State ban...",[],NaN
77,house,international city by sobha phase 1,sector 109,5.70,10556.0,5400.0,Plot area 600(501.68 sq.m.),4,5,3+,"study room,pooja room,servant room,store room",3.0,East,1 to 5 Year Old,"['Dwarka sector 21 metro station', 'Pacific D2...","['8 Wardrobe', '11 Light', '1 Modular Kitchen'...","['Water purifier', 'Centrally Air Conditioned'..."

In [36]:
# feature engineering required -> areaWithType, additionalRoom, facing, agePossession, furnishDetails, features

In [37]:
df.duplicated().sum()

122

In [38]:
df.drop_duplicates(inplace=True)

In [39]:
df.shape

(3681, 17)

In [40]:
df.to_csv('../../../../data/raw/nb_data/4. cleaned_data_L2/gurgaon_properties_cleaned_v1.csv',index=False)